// Variables

$borderRad: 5px;
$fontSizeInDiv: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    background-color: lightseagreen;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 80%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 0 5px darkblue, 0 0 0 7px white;

    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.title {
    text-align: center;
    margin-bottom: 2%;
}

.form {
    flex-basis: 20%;
    text-align: center;


    &__input {
        height: 70%;
        width: 80%;
        font-size: $fontSizeInDiv;
        border: none;
        border-radius: $borderRad;
        padding: 10px;
    }
}

.result-box {
    flex-grow: 1;
    background-color: white;
    border-radius: $borderRad;
    padding: 10px;
    font-size: $fontSizeInDiv;
    overflow: auto;
    word-wrap: break-word;
    text-align: justify;

}

// Scrollbar width

::-webkit-scrollbar {
    width: 7px;
}

// Scrollbar track

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(180, 180, 180, 0.7);
}

// Scrollbar thumb

::-webkit-scrollbar-thumb {
    background-color: darkblue;
    border-radius: 10px;
}